@model BlogApp.Models.BlogPost

@{
    ViewData["TItle"] = "Details";
}

<h1>Blog Details</h1>

<div>
    <hr />
   
        <h3>
            @Html.DisplayFor(model => model.CreationTime)
        </h3>    
        <br />
        <h5>@Html.DisplayFor(model => model.Content)</h5>
    
</div>
<div>
    <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model?.Id">Edit Blog</a>
</div>