@model IEnumerable<BlogApp.Models.BlogPost>

@{
    ViewData["Title"] = "Index";
}
<h1>Home</h1>
<p>
    <button style="background-color: #38B4D0; border: none; color: white; text-align:center; font-size: 16px">
        <a class="btn btn-default" asp-action="Create">Create New Blog</a>
    </button>
</p>